* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    overflow: hidden;
}
.welcome {
    background-color: #99cccc80;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.welcomeName {
    text-align: center;
    position: relative;
    z-index: 2;
    font-family: 'Passions Conflict', cursive;
    font-size: 10em;
    font-weight: 500;
    white-space: wrap;
}

.titulus {
    text-align: center;
    font-size: 1.1em;
    position: relative;
    z-index: 2;
    white-space: wrap;
}

.circle {
    position: absolute;
    top: 62%;
    right: 36%;
    width: 12rem;
    height: 12rem;
    border: 3px solid whitesmoke;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 10px rgba(127, 153, 230, 0.4);
}

.enter {
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    box-shadow: 0 0 20px 10px rgba(127, 153, 230, 0.4);
}

.indexDot1 {
    background-color: #6699b395;
    border-radius: 50%;
    width: 18.75em;
    height: 18.75em;
    position: absolute;
    top: 40%;
    left: 17%;
    flex-shrink: 2;
    overflow: hidden;
}

.indexDot2 {
    background-color: #bce6ec80;
    border-radius: 50%;
    width: 17.5em;
    height: 17.5em;
    position: absolute;
    top: 15%;
    left: 18%;
    z-index: 1;
    flex-shrink: 2;
    overflow: hidden;
}

.indexDot3 {
    background-color: #77ccd8;
    border-radius: 50%;
    width: 30em;
    height: 30em;
    position: absolute;
    top: 15%;
    left: 23%;
    flex-shrink: 2;
    overflow: hidden;
}

.indexDot4 {
    background-color: #7f99e695;
    border-radius: 50%;
    width: 17.5em;
    height: 17.5em;
    position: absolute;
    top: 50%;
    left: 30%;
    flex-shrink: 2;
    overflow: hidden;
}

.indexDot5 {
    background-color: #6699b380;
    border-radius: 50%;
    width: 21.8em;
    height: 21.8em;
    position: absolute;
    top: 12%;
    right: 40%;
    flex-shrink: 2;
    overflow: hidden;
}

.indexDot6 {
    background-color: #bce6ec95;
    border-radius: 50%;
    width: 17.5em;
    height: 17.5em;
    position: absolute;
    top: 15%;
    right: 35%;
    z-index: 1;
    flex-shrink: 2;
    overflow: hidden;
}

.indexDot7 {
    background-color: #77ccd895;
    border-radius: 50%;
    width: 30em;
    height: 30em;
    position: absolute;
    top: 12%;
    right: 18%;
    flex-shrink: 2;
    overflow: hidden;
}

.indexDot8 {
    background-color: #7f99e6;
    border-radius: 50%;
    width: 17.5em;
    height: 17.5em;
    position: absolute;
    top: 36%;
    right: 33%;
    flex-shrink: 2;
    overflow: hidden;
}

.indexDot9 {
    background-color: #6699b380;
    border-radius: 50%;
    width: 18.75em;
    height: 18.75em;
    position: absolute;
    top: 40%;
    right: 42%;
    flex-shrink: 2;
    overflow: hidden;
}

.header {
    background-color: #99cccc;
    height: 25vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.hungarian {
    position: absolute;
    width: 20px;
    top: 0;
    right: 40px;
    margin: 10px;
    z-index: 2;
}

.english {
    position: absolute;
    width: 20px;
    top: 0;
    right: 10px;
    margin: 10px;
    z-index: 2;
}

main {
    background-color: whitesmoke;
}

.dot1 {
    background-color: #6699b395;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
    top: -100px;
    left: -100px;
    flex-shrink: 2;
    overflow: hidden;
}

.dot2 {
    background-color: #bce6ec80;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    position: absolute;
    top: -220px;
    left: 100px;
    z-index: 1;
    flex-shrink: 2;
    overflow: hidden;
}

.dot3 {
    background-color: #77ccd895;
    border-radius: 50%;
    width: 480px;
    height: 480px;
    position: absolute;
    top: -280px;
    left: 300px;
    flex-shrink: 2;
    overflow: hidden;
}

.dot4 {
    background-color: #7f99e6;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    position: absolute;
    top: 100px;
    left: 540px;
    flex-shrink: 2;
    overflow: hidden;
}

.dot5 {
    background-color: #6699b380;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    position: absolute;
    top: -190px;
    right: 780px;
    flex-shrink: 2;
    overflow: hidden;
}

.dot6 {
    background-color: #bce6ec95;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    position: absolute;
    top: -220px;
    right: 600px;
    z-index: 1;
    flex-shrink: 2;
    overflow: hidden;
}

.dot7 {
    background-color: #77ccd8;
    border-radius: 50%;
    width: 480px;
    height: 480px;
    position: absolute;
    top: -280px;
    right: 230px;
    flex-shrink: 2;
    overflow: hidden;
}

.dot8 {
    background-color: #7f99e6;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    position: absolute;
    top: 100px;
    right: 100px;
    flex-shrink: 2;
    overflow: hidden;
}

.dot9 {
    background-color: #6699b380;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
    top: -100px;
    right: -100px;
    flex-shrink: 2;
    overflow: hidden;
}

.image {
    height: 17em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePicture {
    width: 20em;
    border-radius: 50%;
    box-shadow: 0 0 20px 10px rgba(127, 153, 230, 0.4);
    z-index: 2;
}

.name {
    top: 45%;
    right: 18%;
    font-size: 4em;
    text-align: center;
    /* font-family: 'Passions Conflict', cursive; */
    font-weight: 400;
}

.myself {
    background-color: #99cccc20;
}

.projects {
    background-color: white;
}

.projectContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cardBtn {
    background-color: #7f99e6;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 3px 3px rgba(127, 153, 230, 0.4);
}

.cardBtn:hover {
    background-color: #6699b3;
}

.studies {
    background-color: #99cccc20;
}

.work {
    background-color: white;
}

.details {
    color: #6699b3;
}

.details:hover {
    color: #7f99e6;
}

.other {
    background-color: #99cccc20;
}

li {
    margin-left: 1.2em;
}

.hobbies {
    background-color: white;
}

footer {
    background-color: #99cccc;
    height: 16rem;
}

/* snowing */
/* ------------------------------------------------ */

.snowflake {
    color: white;
    font-size: 1.6em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

.snowflakes {
    overflow: hidden;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%;
    }
    100% {
        top: 100%;
    }
}
@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
@keyframes snowflakes-fall {
    0% {
        top: -10%;
    }
    100% {
        top: 100%;
    }
}
@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(80px);
    }
    100% {
        transform: translateX(0px);
    }
}
.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, 0.5s;
    animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s;
}

/* media queries */
/* ------------------------------------------------ */

@media only screen and (max-width: 2560px) {
    .profilePicture {
        top: 15%;
    }

    .welcomeName {
        font-size: 13em;
        padding-bottom: 0;
    }

    .titulus {
        font-size: 1.3em;
        padding-top: 0;
        margin-bottom: 1em;
    }
    .circle {
        width: 11em;
        height: 11em;
        top: 67%;
        right: 37%;
    }

    .enter {
        width: 7em;
        height: 7em;
    }
}

@media only screen and (max-width: 1440px) {
    .profilePicture {
        top: 19%;
    }

    .welcomeName {
        font-size: 11em;
        line-height: 0.7em;
    }
    .titulus {
        font-size: 1.5em;
        padding-top: 0.6em;
    }

    .circle {
        width: 8.8rem;
        height: 8.8rem;
        top: 62%;
        right: 33%;
    }

    .enter {
        width: 5.8rem;
        height: 5.8rem;
    }

    .indexDot4 {
        top: 60%;
    }

    .indexDot8 {
        top: 52%;
        right: 28%;
    }

    .indexDot9 {
        top: 50%;
    }
}

@media only screen and (max-width: 1024px) {
    .profilePicture {
        top: 22%;
    }
    .titulus {
        font-size: 1.5em;
        padding-top: 0em;
    }

    .circle {
        width: 8.8rem;
        height: 8.8rem;
        top: 65%;
        right: 34%;
    }

    .enter {
        width: 5.8rem;
        height: 5.8rem;
    }

    .indexDot1 {
        top: 40%;
        left: 8%;
    }

    .indexDot7 {
        top: 40%;
        right: 20%;
    }
}

@media only screen and (max-width: 768px) {
    .profilePicture {
        top: 23%;
    }
    .titulus {
        font-size: 1.4em;
        padding-top: 0em;
    }

    .circle {
        width: 8.5rem;
        height: 8.5rem;
        top: 65%;
        right: 28%;
    }

    .enter {
        width: 5.5rem;
        height: 5.5rem;
    }

    .indexDot8 {
        top: 40%;
        left: 8%;
    }

    .indexDot7 {
        top: 40%;
        left: 20%;
    }
}

@media only screen and (max-width: 425px) {
    .welcomeName {
        font-size: 8em;
        line-height: 0.7em;
    }

    .titulus {
        font-size: 1em;
        padding-top: 1em;
    }

    .circle {
        width: 8rem;
        height: 8rem;
        top: 62%;
        right: 22%;
    }

    .enter {
        width: 5.5rem;
        height: 5.5rem;
    }

    .indexDot4 {
        top: 53%;
    }

    .indexDot7 {
        top: 39%;
    }

    /* .profilePicture {
        width: 16em;
        top: 26%;
    } */
}

@media only screen and (max-width: 375px) {
    .image {
        height: 12em;
    }

    .profilePicture {
        width: 15em;
    }

    .welcomeName {
        font-size: 7em;
        line-height: 0.7em;
    }

    .titulus {
        font-size: 1em;
        padding-top: 0.8em;
    }

    .circle {
        top: 65%;
        width: 8rem;
        height: 8rem;
    }

    .enter {
        width: 5rem;
        height: 5rem;
    }

    .indexDot7 {
        top: 40%;
    }
}

@media only screen and (max-width: 320px) {
    .image {
        height: 11em;
    }

    .profilePicture {
        width: 14em;
    }

    .welcomeName {
        font-size: 6em;
    }

    .titulus {
        font-size: 0.9em;
        padding-top: 0.8em;
    }

    .circle {
        width: 6rem;
        height: 6rem;
        right: 25%;
        top: 63%;
    }

    .enter {
        width: 4.5rem;
        height: 4.5rem;
        font-size: smaller;
    }

    .indexDot1 {
        width: 18.75em;
        height: 18.75em;
        top: 40%;
        left: 17%;
    }

    .indexDot2 {
        width: 17.5em;
        height: 17.5em;
        top: 15%;
        left: 18%;
    }

    .indexDot3 {
        width: 25em;
        height: 25em;
        left: 30%;
    }

    .indexDot4 {
        width: 12em;
        height: 12em;
        top: 60%;
        left: 40%;
    }

    .indexDot5 {
        width: 16em;
        height: 16em;
        top: 5%;
        right: 40%;
    }

    .indexDot6 {
        width: 12em;
        height: 12em;
        top: 9%;
        right: 30%;
    }

    .indexDot7 {
        width: 25em;
        height: 25em;
        top: 45%;
        right: 18%;
    }

    .indexDot8 {
        width: 12em;
        height: 12em;
        top: 30%;
        right: 30%;
    }

    .welcome {
        height: 100vh;
    }
}
