* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #99cccc;
    height: 25vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

main {
    background-color: whitesmoke;
}

.dot1 {
    background-color: #6699b395;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
    top: -100px;
    left: -100px;
    flex-shrink: 2;
}

.dot2 {
    background-color: #bce6ec80;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    position: absolute;
    top: -220px;
    left: 100px;
    z-index: 1;
    flex-shrink: 2;
}

.dot3 {
    background-color: #77ccd895;
    border-radius: 50%;
    width: 480px;
    height: 480px;
    position: absolute;
    top: -250px;
    left: 300px;
    flex-shrink: 2;
}

.dot4 {
    background-color: #7f99e6;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    position: absolute;
    top: 100px;
    left: 540px;
    flex-shrink: 2;
}

.dot5 {
    background-color: #6699b3;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    position: absolute;
    top: -190px;
    right: 750px;
    flex-shrink: 2;
}

.dot6 {
    background-color: #bce6ec95;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    position: absolute;
    top: -220px;
    right: 600px;
    z-index: 1;
    flex-shrink: 2;
}

.dot7 {
    background-color: #77ccd8;
    border-radius: 50%;
    width: 480px;
    height: 480px;
    position: absolute;
    top: -250px;
    right: 300px;
    flex-shrink: 2;
}

.dot8 {
    background-color: #7f99e6;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    position: absolute;
    top: 100px;
    right: 100px;
    flex-shrink: 2;
}

.dot9 {
    background-color: #6699b380;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
    top: -100px;
    right: -100px;
    flex-shrink: 2;
}

.profilePicture {
    width: 300px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.names {
    text-align: center;
}
.name {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nickname {
    position: absolute;
    top: 43%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
}

.studies {
    background-color: #99cccc20;
}

footer {
    background-color: #99cccc;
    height: 20rem;
}

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%;
    }
    100% {
        top: 100%;
    }
}
@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
@keyframes snowflakes-fall {
    0% {
        top: -10%;
    }
    100% {
        top: 100%;
    }
}
@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(80px);
    }
    100% {
        transform: translateX(0px);
    }
}
.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, 0.5s;
    animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s;
}
